@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: white">Bem Vindo!</h1>
    <p style="color: white">Sistema de Regristro de Marcas</p>
</div>
