@model ConsultaModel
@{
    ViewData["Title"] = "Registrar Marca";
}

<style>
    .panel {
        background-color: lavender;
        padding: 15px;
        border-radius: 15px;
        border-color: burlywood;
        box-shadow: 0.1px 3px 9px 0px rgba(0, 0, 0, 0.2);
    }

    .margin {
        padding: 2%;
    }

    .size-btn {
        width: 20%;
    }

    .form-checkbox {
        position: absolute;
        margin-top: 7px;
        margin-left: 0.75rem;
    }

    .align-buttons {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .input-form {
        background: none;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        color: black;
        font-size: 15px;
        width: 100%;
        letter-spacing: 2px;
    }

    .label-input {
        pointer-events: none;
        transition: .5s;
    }

    .input-form:focus ~ .label-input,
    .input-form:valid ~ .label-input {
        top: -20px;
        font-size: 12px;
        color: dodgerblue;
    }
</style>

<div>
    <div class="panel">
        <div class="margin">
            <h1 class="display-4 text-center h1-styles">Cadastrar Marca</h1>
            <hr class="separator">
            <form asp-controller="Consulta" asp-action="Criar" method="post">
                <div class="form-floating">
                    <label for="nacional" class="label-input">Nacional</label>
                    <select asp-for="Nacional" class="form-select input-form" id="floatingSelect">
                        <option value="1" asp-for="Nacional">Sim</option>
                        <option value="0" asp-for="Nacional">Não</option>
                    </select>
                </div>
                <br />
                <div class="form-floating">
                    <label for="marcaInput" class="label-input">Marca</label>
                    <input type="text" asp-for="Marca" class="form-control input-form" id="marcaInput">
                    @Html.ValidationMessageFor(x => x.Marca)
                </div>
                <br />
                <div class="form-floating">
                    <label for="Ativo" class="label-input">Ativo</label>
                    <input type="checkbox" checked asp-for="Ativo" class="form-checkbox" id="ativoCheckbox">
                </div>
                <hr class="separator">
                <div class="d-grid gap-2 d-md-block align-buttons">
                    <button type="submit" class="btn btn-primary size-btn button-submit">Cadastrar</button>
                    <a class="btn btn-secondary size-btn button-back" asp-controller="Consulta" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>